<launch>
	<!-- Lazy shutoff -->
	<arg name="launcher"	default="spawn_launch" />

<!-- 	<node pkg="hast"		type="killhast"		 output="screen" name="killhast_$(arg launcher)"		 required="true"/>
	<node pkg="hast"		type="shutdownListener" output="screen" name="shutdownListener_$(arg launcher)" required="true"/>
 -->	
	<arg name="use_sim_time"	default="true"/>
	<arg name="gui"	 			default="true"/>
	<arg name="verbose"	 		default="true"/>
	<arg name="paused"			default="false"/>

	<include file="$(find usma_ardrone_gazebo)/launch/empty_world.launch">
		<arg name="world_name" 		value="$(find usma_descriptions)/worlds/empty.world"/>
		<arg name="gui" 			value="$(arg gui)"/>
		<arg name="paused" 			value="$(arg paused)"/>
		<arg name="verbose" 		value="$(arg verbose)"/>
		<arg name="use_sim_time" 	value="$(arg use_sim_time)"/>
	</include>

	<!-- Spawn UAV --> 
	<include file="$(find usma_descriptions)/UAV/launch/usma_ardrone_0.launch" />

</launch>

<!-- 
rostopic pub -1 /ardrone/takeoff std_msgs/Empty
 -->