<launch>

    <arg name="launcher"        default="liftoff" />
    <arg name="shutdown_topic"  default="/usma/shutdown"/>
    
    <include file="$(find optitrack_controller)/launch/killNodes.launch">
        <arg name="kill_topic"  value="$(arg shutdown_topic)"/>
        <arg name="land_topic"  value="/ardrone/land"/>
        <arg name="cmd_topic"   value="/usma_ardrone/uav/cmd_vel"/>
    </include>



    <node pkg="optitrack_controller"    type="listenForKill"        name="shutdownListener_$(arg launcher)" output="screen" required="true">
        <param name="kill_topic"  value="$(arg shutdown_topic)"/>
    </node>



    <node pkg="rostopic" type="rostopic" name="echoVRPN" output="screen" args="echo /vrpn_client_node/Ardrone/pose" />

    <node pkg="rostopic" type="rostopic" name="liftoff" output="screen" args="pub -1 /ardrone/takeoff std_msgs/Empty" />

    <!-- <node pkg="usma_mpc" type="simplePosePublisher.py" name="simplePosePub"> -->
    <node pkg="usma_mpc" type="squarePosePublisher.py" name="squarePosePublisher">
        <param name="ardrone_desiredpose_topic"   value="/usma_ardrone/mpc/desiredpose"/>
    </node>

    

</launch>


