<!-- -*- mode: XML -*- -->
<launch>
	<arg name="launcher" 	default="linksys" />
	<arg name="cmd_topic" 	default="ardrone/cmd_vel"/>
	<arg name="echo" 		default="false" />
	<arg name="ip" 			default="192.168.0.25" /> <!-- need to check IP address each time -->

	<node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone_autonomy" clear_params="true" args="-ip $(arg ip)">
		<param name="tf_prefix" value="ardrone_autonomy" />  
		<param name="realtime_navdata" value="true" />
		<param name="realtime_video" value="true" />		
		<param name="looprate" value="50" /> 
	    <remap from="/cmd_vel" to="$(arg cmd_topic)"/>
	</node>

	<group if="$(arg echo)"> 
		<node pkg="rostopic" type="rostopic" 			name="navdataEcho" 		output="screen" 	args="echo /ardrone/navdata" />
	</group>

  <!-- run image processing node to rectify images -->
  <node ns="ardrone/front" pkg="image_proc" type="image_proc" name="image_proc">
    <remap from="image_raw" to="/ardrone/front/image_raw" />
    <remap from="camera_info" to="/ardrone/front/camera_info" />
  </node>


</launch>

