<!-- -*- mode: XML -*- -->
<!-- need to send takeoff and land commands separately -->
<launch>
    <arg name="server_ip" default="192.168.0.24" /> 

    <!-- launch vrpn server -->
    <include file="$(find optitrack_controller)/launch/vrpn.launch">
        <arg name="server" value="$(arg server_ip)"/>
    </include>


    <arg name="date" default="20181121" /> 
    <arg name="run" default="001" /> 


    <!-- vrpn logging -->
    <include file="$(find usma_optitrack)/launch/vrpn_logger.launch">
        <arg name="run"             value="$(arg run)" />
        <arg name="pose_msg"        value="/vrpn_client_node/Ardrone/pose"/>
        <arg name="filepath"        value="/home/benjamin/ros/data/$(arg date)/$(arg run)/"/>
        <arg name="matlab_prefix"   value="vrpn_ardrone"/>
    </include>
    <include file="$(find usma_optitrack)/launch/vrpn_logger.launch">
        <arg name="run"             value="$(arg run)" />
        <arg name="pose_msg"        value="/vrpn_client_node/blockhead/pose"/>
        <arg name="filepath"        value="/home/benjamin/ros/data/$(arg date)/$(arg run)/"/>
        <arg name="matlab_prefix"   value="vrpn_blockhead"/>
    </include>


</launch>

