 <launch>
	<arg name="model" default="$(find robot_descriptions)/UAV/urdf/ardrone2.urdf.xacro"/>
	<arg name="robot_ns" default="uav"/>
	<arg name="down_image"  default="image_rect" />
	<arg name="uav_description" 	default="$(arg robot_ns)/robot_description"/>
	<arg name="x" default="3"/>
	<arg name="y" default="-0.25"/>
	<arg name="z" default="0"/>
	<arg name="R" default="0"/>
	<arg name="P" default="0"/>
	<arg name="Y" default="0"/>
	<!-- send the robot XML to param server -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' - -inorder" /> -->
		<param command="$(find xacro)/xacro '$(arg model)' --inorder" name="$(arg uav_description)"/>
   
	<!-- push robot_description to factory and spawn robot in gazebo -->
		<node name="spawn_uav" pkg="gazebo_ros" type="spawn_model"
					args="-param $(arg uav_description) -urdf
								-x '$(arg x)' -y '$(arg y)' -z '$(arg z)'
								-R '$(arg R)' -P '$(arg P)' -Y '$(arg Y)'
								-model ardrone2" respawn="false" output="screen"/>
     
	<!-- start robot state publisher -->
		<node name="uav_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="robot_description" to="$(arg uav_description)" />
			<remap from="/joint_states" to="$(arg robot_ns)/joint_states" />
		</node>

		<node name="ardrone_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
			<param name="frame_id" 				value="map" />
			<param name="odometry_topic" 		value="ardrone/odom" />
			<param name="footprint_frame_id" 	value="/gazebo/uav/ardrone_base_footprint" />
			<param name="stabilized_frame_id" 	value="/gazebo/uav/ardrone_base_stabilized" />
		</node>
   
  <!-- downward camera prcoessing nodes -->
		<node pkg="tf" type="static_transform_publisher" name="tf_uav_base2bottomcam" args="0 0 0 1.57079632679 3.14159265359 0 /hast/uav/ardrone_base_link /hast/uav/base_bottomcam 100"/> 

		<node ns="ardrone/bottom" pkg="image_proc" type="image_proc" name="image_proc">
			<remap from="image_raw" 	to="/ardrone/bottom/image_raw" />
			<remap from="camera_info" to="/ardrone/bottom/camera_info" />
		</node>

	<!-- run the april tag detection node -->
		<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
			<rosparam command="load" 			file="$(find hast)/config/april/april_dictionary.yaml" />
			<param 		name="tag_family" 		value="16h5" type="str" />
			<remap 		from="image_rect" 		to="/ardrone/bottom/$(arg down_image)" />
			<remap 		from="camera_info" 		to="/ardrone/bottom/camera_info" />
			<param 		name="sensor_frame_id" 	value="/hast/uav/base_bottomcam" />
		</node>

		<node pkg="image_view" type="image_view" name="image_view" >
			<remap from="image" to="/tag_detections_image" />
		</node>

 </launch>
   
