 <launch>
	<arg name="model" default="$(find robot_descriptions)/UAV/urdf/ardrone.urdf.xacro"/>
	<arg name="robot_ns" default="uav"/>
	<arg name="down_image"  default="image_rect" />
	<arg name="uav_description" 	default="$(arg robot_ns)/robot_description"/>
	<arg name="x" default="3"/>
	<arg name="y" default="-0.25"/>
	<arg name="z" default="0"/>
	<arg name="R" default="0"/>
	<arg name="P" default="0"/>
	<arg name="Y" default="0"/>
	<!-- send the robot XML to param server -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' - -inorder" /> -->
		<param command="$(find xacro)/xacro '$(arg model)' --inorder" name="$(arg uav_description)"/>
   
	<!-- push robot_description to factory and spawn robot in gazebo -->
		<node name="spawn_uav" pkg="gazebo_ros" type="spawn_model"
					args="-param $(arg uav_description) -urdf
								-x '$(arg x)' -y '$(arg y)' -z '$(arg z)'
								-R '$(arg R)' -P '$(arg P)' -Y '$(arg Y)'
								-model ardrone" respawn="false" output="screen"/>
     
	<!-- start robot state publisher -->
		<node name="uav_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="robot_description" to="$(arg uav_description)" />
			<remap from="/joint_states" to="$(arg robot_ns)/joint_states" />
		</node>

		<node name="ardrone_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
			<param name="frame_id" 				value="map" />
			<param name="odometry_topic" 		value="ardrone/odom" />
			<param name="footprint_frame_id" 	value="/gazebo/uav/ardrone_base_footprint" />
			<param name="stabilized_frame_id" 	value="/gazebo/uav/ardrone_base_stabilized" />
		</node>
   

 </launch>
   
